In [2]:
'''
8. Merge & Join en pandas
Conceptos clave

pandas permite combinar DataFrames igual que SQL: INNER, LEFT, RIGHT, OUTER.

merge() se basa en columnas clave; join() se basa en Ã­ndices.

Ideal para integrar datos de diferentes tablas o fuentes.

Tipos de combinaciones

Inner Join

Devuelve solo las filas con coincidencia entre ambos DataFrames.

Ãštil para obtener intersecciones limpias.

Left Join

Mantiene todas las filas del DataFrame izquierdo y agrega coincidencias del derecho.

Cuando quieres preservar el dataset principal aunque no existan match.

Right Join

Igual que left pero tomando como referencia el DataFrame derecho.

Pocas veces necesario; mejor reorganizar tus tablas.

Outer Join

Combina todo, coincida o no.

Celdas sin match quedan como NaN.

ParÃ¡metros importantes en merge()

on: columna(s) clave iguales en ambos DataFrames.

left_on / right_on: cuando las columnas clave tienen nombres distintos.

how: tipo de join (inner, left, right, outer).

suffixes: para evitar colisiones de nombre entre columnas idÃ©nticas.

validate: Ãºtil para verificar integridad relacional ("one_to_one", "one_to_many", etc.).

Uso de join()

Se usa para unir DataFrames por Ã­ndice, no por columnas.

Ãštil cuando ya tienes Ã­ndices significativos o multÃ­ndices.

Sintaxis mÃ¡s simple: df1.join(df2, how="left").

Diferencias rÃ¡pidas

merge() â†’ Une por columnas (mÃ¡s flexible).

join() â†’ Une por Ã­ndices (mÃ¡s directo).


| `merge()` | Cuando unes por columnas | Flexible y recomendado                     |
| `join()`  | Cuando unes por Ã­ndices  | Menos flexible, da errores si no coinciden |
'''

'\n8. Merge & Join en pandas\nConceptos clave\n\npandas permite combinar DataFrames igual que SQL: INNER, LEFT, RIGHT, OUTER.\n\nmerge() se basa en columnas clave; join() se basa en Ã­ndices.\n\nIdeal para integrar datos de diferentes tablas o fuentes.\n\nTipos de combinaciones\n\nInner Join\n\nDevuelve solo las filas con coincidencia entre ambos DataFrames.\n\nÃštil para obtener intersecciones limpias.\n\nLeft Join\n\nMantiene todas las filas del DataFrame izquierdo y agrega coincidencias del derecho.\n\nCuando quieres preservar el dataset principal aunque no existan match.\n\nRight Join\n\nIgual que left pero tomando como referencia el DataFrame derecho.\n\nPocas veces necesario; mejor reorganizar tus tablas.\n\nOuter Join\n\nCombina todo, coincida o no.\n\nCeldas sin match quedan como NaN.\n\nParÃ¡metros importantes en merge()\n\non: columna(s) clave iguales en ambos DataFrames.\n\nleft_on / right_on: cuando las columnas clave tienen nombres distintos.\n\nhow: tipo de join (inner, left, right, outer).\n\nsuffixes: para evitar colisiones de nombre entre columnas idÃ©nticas.\n\nvalidate: Ãºtil para verificar integridad relacional ("one_to_one", "one_to_many", etc.).\n\nUso de join()\n\nSe usa para unir DataFrames por Ã­ndice, no por columnas.\n\nÃštil cuando ya tienes Ã­ndices significativos o multÃ­ndices.\n\nSintaxis mÃ¡s simple: df1.join(df2, how="left").\n\nDiferencias rÃ¡pidas\n\nmerge() â†’ Une por columnas (mÃ¡s flexible).\n\njoin() â†’ Une por Ã­ndices (mÃ¡s directo).\n\n\n| `merge()` | Cuando unes por columnas | Flexible y recomendado                     |\n| `join()`  | Cuando unes por Ã­ndices  | Menos flexible, da errores si no coinciden |\n'

In [3]:
import pandas as pd

orders = pd.DataFrame({
    'order_id': [1, 2, 3, 4],
    'customer_id': ['C001', 'C002', 'C003', 'C001'],
    'product_id': ['P01', 'P02', 'P03', 'P02'],
    'quantity': [2, 1, 4, 2]
})

customers = pd.DataFrame({
    'customer_id': ['C001', 'C002', 'C004'],
    'customer_name': ['Ana', 'Luis', 'Marta'],
    'country': ['MÃ©xico', 'PerÃº', 'Chile']
})

products = pd.DataFrame({
    'product_id': ['P01', 'P02', 'P03'],
    'product_name': ['Laptop', 'Mouse', 'Tablet'],
    'price': [1200, 25, 300]
})

In [4]:
orders.head()

   order_id customer_id product_id  quantity
0         1        C001        P01         2
1         2        C002        P02         1
2         3        C003        P03         4
3         4        C001        P02         2

In [ ]:
'''
Ejercicio C1 â€” Merge bÃ¡sico (inner)

Une orders + products para agregar el nombre y precio del producto.

ðŸ‘‰ Objetivo: merge con on='product_id'.

Ejercicio C2 â€” Detectar clientes sin pedidos

Haz un left join entre customers y orders y filtra los clientes que no aparecen en orders.

ðŸ‘‰ Objetivo: identificar valores NaN.

Ejercicio C3 â€” AÃ±adir informaciÃ³n del cliente

Une orders + customers para obtener el paÃ­s del cliente.

Pista:

orders.merge(customers, on='customer_id', how='left')

Ejercicio C4 â€” Triple merge

Combina orders + customers + products en un solo DataFrame completo.

ðŸ‘‰ Objetivo: practicar merges encadenados.

Ejercicio C5 â€” Ver quÃ© productos nunca se han vendido

products LEFT JOIN orders, encontrar product_id con NaN.

Ejercicio C6 â€” Merge con mÃºltiples claves

Crea este mini DF para practicar:

extra = pd.DataFrame({
    'customer_id': ['C001','C001','C002'],
    'product_id': ['P01','P02','P02'],
    'rating': [5, 4, 3]
})


Ahora une orders + extra usando
on=['customer_id','product_id'].

Ejercicio C7 â€” Outer merge (todos los datos)

Une customers + orders usando how='outer'.

ðŸ‘‰ Analiza quÃ© filas vienen de cada tabla.

Ejercicio C8 â€” Indicator

Haz un merge con:

how='outer', indicator=True


ðŸ‘‰ Analiza quÃ© filas existen en ambos o solo en uno.'''

In [5]:
'''
Ejercicio C1 â€” Merge bÃ¡sico (inner)

Une orders + products para agregar el nombre y precio del producto.

ðŸ‘‰ Objetivo: merge con on='product_id'.'''

orders_products = orders.merge(products, on='product_id')
orders_products.head()

   order_id customer_id product_id  quantity product_name  price
0         1        C001        P01         2       Laptop   1200
1         2        C002        P02         1        Mouse     25
2         3        C003        P03         4       Tablet    300
3         4        C001        P02         2        Mouse     25

In [13]:
print(customers.columns)
print('##########')
print(products.columns)
print('##########')
print(orders.columns)

Index(['customer_id', 'customer_name', 'country'], dtype='object')
##########
Index(['product_id', 'product_name', 'price'], dtype='object')
##########
Index(['order_id', 'customer_id', 'product_id', 'quantity'], dtype='object')

In [7]:
'''
Ejercicio C2 â€” Detectar clientes sin pedidos

Haz un left join entre customers y orders y filtra los clientes que no aparecen en orders.

ðŸ‘‰ Objetivo: identificar valores NaN.'''

customers_no_orders = customers.merge(orders, on='customer_id', how='left')
customers_no_orders = customers_no_orders[customers_no_orders['order_id'].isna()]
print(customers_no_orders)

  customer_id customer_name country  order_id product_id  quantity
3        C004         Marta   Chile       NaN        NaN       NaN

In [8]:
'''
Ejercicio C3 â€” AÃ±adir informaciÃ³n del cliente

Une orders + customers para obtener el paÃ­s del cliente.'''

client_country = orders.merge(customers, on='customer_id', how='left')
print(client_country)

   order_id customer_id product_id  quantity customer_name country
0         1        C001        P01         2           Ana  MÃ©xico
1         2        C002        P02         1          Luis    PerÃº
2         3        C003        P03         4           NaN     NaN
3         4        C001        P02         2           Ana  MÃ©xico

In [9]:
'''
Ejercicio C4 â€” Triple merge

Combina orders + customers + products en un solo DataFrame completo.

ðŸ‘‰ Objetivo: practicar merges encadenados.'''

Customer_merged = (
    orders
    .merge(customers, on='customer_id', how='left')
    .merge(products, on='product_id', how='left')
)

print(Customer_merged)

   order_id customer_id product_id  quantity customer_name country  \
0         1        C001        P01         2           Ana  MÃ©xico
1         2        C002        P02         1          Luis    PerÃº
2         3        C003        P03         4           NaN     NaN
3         4        C001        P02         2           Ana  MÃ©xico

  product_name  price
0       Laptop   1200
1        Mouse     25
2       Tablet    300
3        Mouse     25

In [16]:
'''
Ejercicio C5 â€” Ver quÃ© productos nunca se han vendido

products LEFT JOIN orders, encontrar product_id con NaN.'''

products_never_bought = products.merge(orders, on='product_id', how='left')
products_never_bought = products_never_bought[products_never_bought['order_id'].isna()]
print(products_never_bought)

Empty DataFrame
Columns: [product_id, product_name, price, order_id, customer_id, quantity]
Index: []

In [17]:
'''
Ejercicio C6 â€” Merge con mÃºltiples claves

Crea este mini DF para practicar:

extra = pd.DataFrame({
    'customer_id': ['C001','C001','C002'],
    'product_id': ['P01','P02','P02'],
    'rating': [5, 4, 3]
})


Ahora une orders + extra usando
on=['customer_id','product_id'].'''

extra = pd.DataFrame({
    'customer_id': ['C001','C001','C002'],
    'product_id': ['P01','P02','P02'],
    'rating': [5, 4, 3]
})

multi_key = orders.merge(extra, on=['customer_id', 'product_id'], how='left')
print(multi_key)

   order_id customer_id product_id  quantity  rating
0         1        C001        P01         2     5.0
1         2        C002        P02         1     3.0
2         3        C003        P03         4     NaN
3         4        C001        P02         2     4.0

In [18]:
'''
Ejercicio C7 â€” Outer merge (todos los datos)

Une customers + orders usando how='outer'.

ðŸ‘‰ Analiza quÃ© filas vienen de cada tabla.'''

outer_customer_order = customers.merge(orders, on='customer_id', how='outer')
print(outer_customer_order)

  customer_id customer_name country  order_id product_id  quantity
0        C001           Ana  MÃ©xico       1.0        P01       2.0
1        C001           Ana  MÃ©xico       4.0        P02       2.0
2        C002          Luis    PerÃº       2.0        P02       1.0
3        C003           NaN     NaN       3.0        P03       4.0
4        C004         Marta   Chile       NaN        NaN       NaN

la fila 3 viene de orders
la fila 4 viene de customers

In [19]:
'''
Ejercicio C8 â€” Indicator

Haz un merge con:

how='outer', indicator=True


ðŸ‘‰ Analiza quÃ© filas existen en ambos o solo en uno'''

outer_customer_order2 = customers.merge(orders, on='customer_id', how='outer', indicator=True)
print(outer_customer_order2)

  customer_id customer_name country  order_id product_id  quantity      _merge
0        C001           Ana  MÃ©xico       1.0        P01       2.0        both
1        C001           Ana  MÃ©xico       4.0        P02       2.0        both
2        C002          Luis    PerÃº       2.0        P02       1.0        both
3        C003           NaN     NaN       3.0        P03       4.0  right_only
4        C004         Marta   Chile       NaN        NaN       NaN   left_only

Filas 0,1,2 â†’ aparecen en ambas tablas (both)<br>
Fila 3 â†’ aparece solo en orders (right_only)<br>
Fila 4 â†’ aparece solo en customers (left_only)<br>