In [2]:
import pandas as pd

In [3]:
#Leyendo el dataset, con ese encoding que es universal
df = pd.read_csv('/Users/diego/Library/Mobile Documents/com~apple~CloudDocs/Data Analyst/SuperStore Analysis/Sample - Superstore.csv', encoding="ISO-8859-1")

print("Primeras filas:")
display(df.head())

print("\nShape:")
print(df.shape)

print("\nColumnas:")
print(df.columns)

print("\nInformación del dataset:")
print(df.info())

Primeras filas:

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Shape:
(9994, 21)

Columnas:
Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

Información del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB
None

In [4]:
#Convirtiendo de tipo object a tipo datetime para poder hacer analisis a partir de fechas mas adelante

df["Order Date"] = pd.to_datetime(df["Order Date"])
df["Ship Date"] = pd.to_datetime(df["Ship Date"])

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [5]:
df.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994,9994,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,2016-04-30 00:07:12.259355648,2016-05-03 23:06:58.571142912,55190.379428,229.858001,3.789574,0.156203,28.656896
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,2016-06-26 00:00:00,2016-06-29 00:00:00,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.163629,NaN,NaN,32063.693350,623.245101,2.225110,0.206452,234.260108

In [6]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [7]:
#Saber cuántos valores únicos tiene cada columna
'''
Esto te ayuda a identificar:
cardinalidad (alta, media, baja)
columnas que sirven para agrupar
columnas que sirven como categoricas
valores sospechosos
'''

#df['Column'].nunique()
#df['Column'].unique()

'\nEsto te ayuda a identificar:\ncardinalidad (alta, media, baja)\ncolumnas que sirven para agrupar\ncolumnas que sirven como categoricas\nvalores sospechosos\n'

In [8]:
#Contar registros por categoría
'''
Fundamental para revisar:
distribución por Segment
distribución por Category
top productos
top ciudades
'''

#df['Column'].value_counts()

'\nFundamental para revisar:\ndistribución por Segment\ndistribución por Category\ntop productos\ntop ciudades\n'

In [9]:
#Ordenar datos
'''
Para encontrar:
las ventas más altas
los productos más vendidos
los clientes más rentables
los mayores descuentos
'''

df.sort_values('Sales', ascending=False)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
2697,2698,CA-2014-145317,2014-03-18,2014-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,32216,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.480,6,0.5,-1811.0784
6826,6827,CA-2016-118689,2016-10-02,2016-10-09,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,...,47905,Central,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,17499.950,5,0.0,8399.9760
8153,8154,CA-2017-140151,2017-03-23,2017-03-25,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,98115,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.960,4,0.0,6719.9808
2623,2624,CA-2017-127180,2017-10-22,2017-10-24,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,...,10024,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,11199.968,4,0.2,3919.9888
4190,4191,CA-2017-166709,2017-11-17,2017-11-22,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,...,19711,East,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,10499.970,3,0.0,5039.9856
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,2107,US-2014-152723,2014-09-26,2014-09-26,Same Day,HG-14965,Henry Goldwyn,Corporate,United States,Mesquite,...,75150,Central,OFF-BI-10003460,Office Supplies,Binders,Acco 3-Hole Punch,0.876,1,0.8,-1.4016
4711,4712,CA-2014-112403,2014-03-31,2014-03-31,Same Day,JO-15280,Jas O'Carroll,Consumer,United States,Philadelphia,...,19120,East,OFF-BI-10003529,Office Supplies,Binders,Avery Round Ring Poly Binders,0.852,1,0.7,-0.5964
8658,8659,CA-2016-168361,2016-06-21,2016-06-25,Standard Class,KB-16600,Ken Brennan,Corporate,United States,Chicago,...,60623,Central,OFF-BI-10003727,Office Supplies,Binders,Avery Durable Slant Ring Binders With Label Ho...,0.836,1,0.8,-1.3376
9292,9293,CA-2017-124114,2017-03-02,2017-03-02,Same Day,RS-19765,Roland Schwarz,Corporate,United States,Waco,...,76706,Central,OFF-BI-10004022,Office Supplies,Binders,Acco Suede Grain Vinyl Round Ring Binder,0.556,1,0.8,-0.9452
4101,4102,US-2017-102288,2017-06-19,2017-06-23,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,United States,Houston,...,77095,Central,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100

In [10]:
'''
EJERCICIO 1 — Valores únicos
1.1 ¿Cuántos segmentos hay en Segment?
1.2 ¿Cuántas categorías hay en Category?
1.3 ¿Cuántas subcategorías hay en Sub-Category?
1.4 ¿Cuántos estados (“State”) diferentes hay?'''

#1.1
print("1.1:")
print(df['Segment'].nunique())
print(df['Segment'].unique())

#1.2
print("1.2:")
print(df['Category'].nunique())
print(df['Category'].unique())

#1.3
print("1.3:")
print(df['Sub-Category'].nunique())
print(df['Sub-Category'].unique())

#1.4
print("1.4:")
print(df['State'].nunique())
print(df['State'].unique())

1.1:
3
['Consumer' 'Corporate' 'Home Office']
1.2:
3
['Furniture' 'Office Supplies' 'Technology']
1.3:
17
['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']
1.4:
49
['Kentucky' 'California' 'Florida' 'North Carolina' 'Washington' 'Texas'
 'Wisconsin' 'Utah' 'Nebraska' 'Pennsylvania' 'Illinois' 'Minnesota'
 'Michigan' 'Delaware' 'Indiana' 'New York' 'Arizona' 'Virginia'
 'Tennessee' 'Alabama' 'South Carolina' 'Oregon' 'Colorado' 'Iowa' 'Ohio'
 'Missouri' 'Oklahoma' 'New Mexico' 'Louisiana' 'Connecticut' 'New Jersey'
 'Massachusetts' 'Georgia' 'Nevada' 'Rhode Island' 'Mississippi'
 'Arkansas' 'Montana' 'New Hampshire' 'Maryland' 'District of Columbia'
 'Kansas' 'Vermont' 'Maine' 'South Dakota' 'Idaho' 'North Dakota'
 'Wyoming' 'West Virginia']

In [11]:
'''
EJERCICIO 2 — Conteos

2.1 Los 4 segmentos más frecuentes
(haz un value_counts() sobre “Segment”)

2.2 Las 5 subcategorías más comunes
(ordenadas de más transacciones a menos)

2.3 Las 5 ciudades con más pedidos

2.4 Las 5 ciudades con menos pedidos,
pero solo ciudades que aparecen al menos 3 veces
(hay ciudades que solo aparecen una vez; esas no cuentan).'''

#2.1
print("2.1")
print(df['Segment'].value_counts())

#2.2
print("2.2")
print(df['Sub-Category'].value_counts(ascending=False).head(5))

#2.3
print("2.3")
print(df['City'].value_counts(ascending=False).head(5))

#2.4
print("2.4")
print(df['City'].value_counts()[lambda x: x >= 3].sort_values().head(5))

2.1
Segment
Consumer       5191
Corporate      3020
Home Office    1783
Name: count, dtype: int64
2.2
Sub-Category
Binders        1523
Paper          1370
Furnishings     957
Phones          889
Storage         846
Name: count, dtype: int64
2.3
City
New York City    915
Los Angeles      747
Philadelphia     537
San Francisco    510
Seattle          428
Name: count, dtype: int64
2.4
City
Saint Cloud    3
Longview       3
Lebanon        3
Caldwell       3
Oak Park       3
Name: count, dtype: int64

In [12]:
'''
EJERCICIO 3 — Filtrado de datos (boolean indexing)
✅ 3.1 — Filtra todas las órdenes con descuento mayor a 0.5
(Es decir, más de 50%)
Entrega:
cuántas filas hay (usa .shape)
y muestra las primeras 5 filas (usa .head())

✅ 3.2 — Filtra todas las órdenes con profit negativo
Entrega:
cuántas filas hay
primera fila (solo .head(1))

✅ 3.3 — Filtra órdenes donde:
Sales > 500
y Profit < 0
Entrega:
cuántas filas cumplen
media de Profit de esas filas

✅ 3.4 — Filtra órdenes de la categoría "Furniture" con descuento entre 20% y 40%
Ojo: el descuento está en formato decimal (0.20 = 20%).
Entrega:
cuántas filas
top 3 por Sales (.nlargest(3, "Sales"))
'''

#3.1
print("3.1")
print(df[df['Discount'] > 0.5].head(5))
print(df[df['Discount'] > 0.5].shape)

#3.2
print("3.2")
print(df[df["Profit"] < 0].shape)
print(df[df["Profit"] < 0].head(1))

#3.3
print("3.3")
dfmean = df[(df['Sales'] > 500) & (df['Profit'] < 0)]
print(dfmean.shape)
print(dfmean['Profit'].mean())

#3.4
print("3.4")
df_furniture = df[(df["Category"] == 'Furniture') &  ((df['Discount']>= 0.2) & (df['Discount'] <= 0.4))]
print(df_furniture.shape)
print(df_furniture.nlargest(3, 'Sales'))

3.1
    Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
14      15  US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
15      16  US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
28      29  US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
32      33  US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
36      37  CA-2016-117590 2016-12-08 2016-12-10     First Class    GH-14485

      Customer Name      Segment        Country          City  ...  \
14    Harold Pawlan  Home Office  United States    Fort Worth  ...
15    Harold Pawlan  Home Office  United States    Fort Worth  ...
28  Tracy Blumstein     Consumer  United States  Philadelphia  ...
32  Tracy Blumstein     Consumer  United States  Philadelphia  ...
36        Gene Hale    Corporate  United States    Richardson  ...

   Postal Code   Region       Product ID         Category Sub-Category  \
14       76106  Central  OFF-AP-10002311  Office Supplies   Appliances
15       76106  Central  OFF-BI-10000756  Office Supplies      Binders
28       19140     East  OFF-BI-10000474  Office Supplies      Binders
32       19140     East  OFF-BI-10001525  Office Supplies      Binders
36       75080  Central  FUR-FU-10003664        Furniture  Furnishings

                                         Product Name    Sales  Quantity  \
14  Holmes Replacement Filter for HEPA Air Cleaner...   68.810         5
15   Storex DuraTech Recycled Plastic Frosted Binders    2.544         3
28  Avery Recycled Flexi-View Covers for Binding S...    9.618         2
32  Acco Pressboard Covers with Storage Hooks, 14 ...    6.858         6
36  Electrix Architect's Clamp-On Swing Arm Lamp, ...  190.920         5

    Discount    Profit
14       0.8 -123.8580
15       0.8   -3.8160
28       0.7   -7.0532
32       0.7   -5.7150
36       0.6 -147.9630

[5 rows x 21 columns]
(856, 21)
3.2
(1871, 21)
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

    Customer Name   Segment        Country             City  ... Postal Code  \
3  Sean O'Donnell  Consumer  United States  Fort Lauderdale  ...       33311

   Region       Product ID   Category Sub-Category  \
3   South  FUR-TA-10000577  Furniture       Tables

                                    Product Name     Sales  Quantity  \
3  Bretford CR4500 Series Slim Rectangular Table  957.5775         5

   Discount   Profit
3      0.45 -383.031

[1 rows x 21 columns]
3.3
(259, 21)
-356.69620000000003
3.4
(939, 21)
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
7243    7244  CA-2017-118892 2017-08-17 2017-08-22    Second Class
9639    9640  CA-2015-116638 2015-01-28 2015-01-31    Second Class
5917    5918  US-2015-126977 2015-09-17 2015-09-23  Standard Class

     Customer ID Customer Name   Segment        Country           City  ...  \
7243    TP-21415  Tom Prescott  Consumer  United States   Philadelphia  ...
9639    JH-15985   Joseph Holt  Consumer  United States        Concord  ...
5917    PF-19120  Peter Fuller  Consumer  United States  New York City  ...

     Postal Code  Region       Product ID   Category Sub-Category  \
7243       19134    East  FUR-CH-10002024  Furniture       Chairs
9639       28027   South  FUR-TA-10000198  Furniture       Tables
5917       10035    East  FUR-BO-10004834  Furniture    Bookcases

                                           Product Name     Sales  Quantity  \
7243       HON 5400 Series Task Chairs for Big and Tall  4416.174         9
9639  Chromcraft Bull-Nose Wood Oval Conference Tabl...  4297.644        13
5917  Riverside Palais Royal Lawyers Bookcase, Royal...  4228.704         6

      Discount     Profit
7243       0.3  -630.8820
9639       0.4 -1862.3124
5917       0.2   158.5764

[3 rows x 21 columns]

In [13]:
'''
Agrupaciones con groupby()

groupby() sirve para dividir el DataFrame en grupos según una o varias columnas, y luego aplicar una operación (sumar, contar, promediar, etc.).
'''

'\nAgrupaciones con groupby()\n\ngroupby() sirve para dividir el DataFrame en grupos según una o varias columnas, y luego aplicar una operación (sumar, contar, promediar, etc.).\n'

In [14]:
'''
Ejercicio 4 — Agrupaciones y Estadísticas
4.1
Agrupa por Segment y muestra las ventas totales (sum de Sales) por segmento.

4.2
Agrupa por Sub-Category y muestra el promedio de Profit por cada subcategoría.

4.3
Filtra todas las filas donde Profit sea negativo,
luego agrupa por City,
suma el Profit por cada ciudad
y muestra las 5 ciudades con la pérdida total más alta.
(Pista: para pérdida "más alta" necesitas TOP 5 de valores más pequeños)

4.4
Agrupa por Product Name, suma las ventas de cada producto
y muestra los 3 productos con mayores ventas.

4.5
Agrupa por Category y muestra el promedio de Discount por categoría.'''

#4.1
print('4.1')
print(df.groupby('Segment')['Sales'].sum())

#4.2
print('4.2')
print(df.groupby('Sub-Category')['Profit'].mean())

#4.3
print('4.3')
df_negative = df[df['Profit'] < 0]
print(df_negative.groupby('City')['Profit'].sum().nsmallest(5))

#4.4
print('4.4')
print(df.groupby('Product Name')['Sales'].sum().nlargest(3))

#4.5
print('4.5')
print(df.groupby('Category')['Discount'].mean())

4.1
Segment
Consumer       1.161401e+06
Corporate      7.061464e+05
Home Office    4.296531e+05
Name: Sales, dtype: float64
4.2
Sub-Category
Accessories     54.111788
Appliances      38.922758
Art              8.200737
Binders         19.843574
Bookcases      -15.230509
Chairs          43.095894
Copiers        817.909190
Envelopes       27.418019
Fasteners        4.375660
Furnishings     13.645918
Labels          15.236962
Machines        29.432669
Paper           24.856620
Phones          50.073938
Storage         25.152277
Supplies        -6.258418
Tables         -55.565771
Name: Profit, dtype: float64
4.3
City
Philadelphia   -19590.7411
Houston        -14785.3668
Chicago        -11120.6271
San Antonio     -7831.0254
Lancaster       -7632.4946
Name: Profit, dtype: float64
4.4
Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
Name: Sales, dtype: float64
4.5
Category
Furniture          0.173923
Office Supplies    0.157285
Technology         0.132323
Name: Discount, dtype: float64

In [15]:
'''
Concepto 1: Crear Columnas Nuevas
En pandas puedes crear columnas nuevas usando operaciones con otras columnas:
➤ Ejemplo 1 — Calcular margen (%)
df["Margin"] = df["Profit"] / df["Sales"]
Esto crea una columna llamada Margin en todo el DataFrame.

Ejemplo 2 — Crear una columna condicional (if…)
Se usa np.where:
import numpy as np
df["High_Discount"] = np.where(df["Discount"] > 0.3, "YES", "NO")

Concepto 2: apply()

apply() te permite aplicar una función personalizada a cada fila o a cada columna.

➤ Ejemplo — Clasificar ventas
def classify(sales):
    if sales > 500:
        return "High"
    elif sales > 100:
        return "Medium"
    else:
        return "Low"

df["Sales_Level"] = df["Sales"].apply(classify)
Útil para reglas más complejas que np.where.

🧩 Concepto 3: groupby con múltiples columnas
Ya dominas el groupby normal.
Ahora vamos con multi-groupby:

➤ Ejemplo
Ventas totales por Segmento y Categoría:
df.groupby(["Segment", "Category"])["Sales"].sum()

El resultado tiene un MultiIndex, dos niveles de agrupación:

Segment     Category
Consumer    Furniture          120000
            Technology         180000
Corporate   Furniture           80000
...

Este tipo de agrupación es clave en análisis más complejos.

🧩 Concepto 4: reset_index()

Cuando haces groupby, pandas te devuelve un índice especial.
Si quieres convertirlo en columnas normales:

➤ Ejemplo
grouped = df.groupby("Category")["Sales"].sum().reset_index()


Output deja de tener MultiIndex y queda como un DataFrame normal.

🧩 Concepto 5: sort_values()

Ya lo has usado con unidimensiones.
Ahora aplicado a DataFrames completos:

df.sort_values("Sales", ascending=False)

🧩 Concepto 6: asignar varias columnas a la vez
df[["col1", "col2"]] = df["Sales"].apply(lambda x: pd.Series([x*2, x*3]))


No lo usarás mucho, pero te da una idea del poder.
'''

'\nConcepto 1: Crear Columnas Nuevas\nEn pandas puedes crear columnas nuevas usando operaciones con otras columnas:\n➤ Ejemplo 1 — Calcular margen (%)\ndf["Margin"] = df["Profit"] / df["Sales"]\nEsto crea una columna llamada Margin en todo el DataFrame.\n\nEjemplo 2 — Crear una columna condicional (if…)\nSe usa np.where:\nimport numpy as np\ndf["High_Discount"] = np.where(df["Discount"] > 0.3, "YES", "NO")\n\nConcepto 2: apply()\n\napply() te permite aplicar una función personalizada a cada fila o a cada columna.\n\n➤ Ejemplo — Clasificar ventas\ndef classify(sales):\n    if sales > 500:\n        return "High"\n    elif sales > 100:\n        return "Medium"\n    else:\n        return "Low"\n\ndf["Sales_Level"] = df["Sales"].apply(classify)\nÚtil para reglas más complejas que np.where.\n\n🧩 Concepto 3: groupby con múltiples columnas\nYa dominas el groupby normal.\nAhora vamos con multi-groupby:\n\n➤ Ejemplo\nVentas totales por Segmento y Categoría:\ndf.groupby(["Segment", "Category"])["Sales"].sum()\n\nEl resultado tiene un MultiIndex, dos niveles de agrupación:\n\nSegment     Category\nConsumer    Furniture          120000\n            Technology         180000\nCorporate   Furniture           80000\n...\n\nEste tipo de agrupación es clave en análisis más complejos.\n\n🧩 Concepto 4: reset_index()\n\nCuando haces groupby, pandas te devuelve un índice especial.\nSi quieres convertirlo en columnas normales:\n\n➤ Ejemplo\ngrouped = df.groupby("Category")["Sales"].sum().reset_index()\n\n\nOutput deja de tener MultiIndex y queda como un DataFrame normal.\n\n🧩 Concepto 5: sort_values()\n\nYa lo has usado con unidimensiones.\nAhora aplicado a DataFrames completos:\n\ndf.sort_values("Sales", ascending=False)\n\n🧩 Concepto 6: asignar varias columnas a la vez\ndf[["col1", "col2"]] = df["Sales"].apply(lambda x: pd.Series([x*2, x*3]))\n\n\nNo lo usarás mucho, pero te da una idea del poder.\n'

In [16]:
'''
Ejercicios – BLOQUE 5 (Transformaciones y Grouping Avanzado)


✅ 5.1 — Crear columna “Profit_Margin (%)”

Crea una columna nueva llamada:
Profit_Margin = Profit / Sales
Y muestra las primeras 5 filas.

Concepto base: operaciones columna-columna.

✅ 5.2 — Clasificar productos según su margen
Crear columna Margin_Level:
“High” → Profit_Margin > 0.20
“Medium” → > 0.05 y <= 0.20
“Low” → <= 0.05
Puedes usar:
apply()
o np.where anidados

✅ 5.3 — Ventas totales por Segmento y Categoría

Agrupar por dos columnas:
Segment × Category
Y sumar Sales.
Luego ordenarlo de mayor a menor.

✅ 5.4 — Profit promedio por Año
Crear columna Year a partir de Order Date:
(pista: .dt.year)
Agrupar por Year
Obtener el promedio de Profit

✅ 5.5 — Por subcategoría obtener:
total sales
total profit
número de órdenes (count)
Ordenado por total profit (descendente).
Aquí debes usar:
groupby("Sub-Category").agg(...)

✅ 5.6 — Top 3 combinaciones Segment × Category más rentables

Agrupar por:
["Segment", "Category"]
Sumar Profit.
Ordenar.
Tomar el top 3.'''

print('5.1')
df['Profit_Margin'] = df['Profit'] / df['Sales']
print(df.head(5))

print('5.2')
def level(pm):
    if pm < 0.2:
        return "Low"
    elif pm < 0.5:
        return "Medium"
    else:
        return "High"

df['Margin_Level'] = df['Profit_Margin'].apply(level)
print(df)

print('5.3')
print(df.groupby(['Segment', 'Category'])['Sales'].sum().sort_values(ascending=False))

print('5.4')
df['Year'] = df['Order Date'].dt.year
print(df.groupby('Year')['Profit'].mean())

print('5.5')
print(df.groupby('Sub-Category').agg({'Sales': 'sum', 'Profit':'sum', 'Order ID':'count'}).sort_values(by='Profit', ascending=False))

print('5.6')
print(df.groupby(["Segment", "Category"])['Profit'].sum().sort_values(ascending=False).nlargest(3))

5.1
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ... Region  \
0      Claire Gute   Consumer  United States        Henderson  ...  South
1      Claire Gute   Consumer  United States        Henderson  ...  South
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...   West
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  South
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  South

        Product ID         Category Sub-Category  \
0  FUR-BO-10001798        Furniture    Bookcases
1  FUR-CH-10000454        Furniture       Chairs
2  OFF-LA-10000240  Office Supplies       Labels
3  FUR-TA-10000577        Furniture       Tables
4  OFF-ST-10000760  Office Supplies      Storage

                                        Product Name     Sales Quantity  \
0                  Bush Somerset Collection Bookcase  261.9600        2
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2  Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3      Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                     Eldon Fold 'N Roll Cart System   22.3680        2

   Discount    Profit  Profit_Margin
0      0.00   41.9136         0.1600
1      0.00  219.5820         0.3000
2      0.00    6.8714         0.4700
3      0.45 -383.0310        -0.4000
4      0.20    2.5164         0.1125

[5 rows x 22 columns]
5.2
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
0          1  CA-2016-152156 2016-11-08 2016-11-11    Second Class
1          2  CA-2016-152156 2016-11-08 2016-11-11    Second Class
2          3  CA-2016-138688 2016-06-12 2016-06-16    Second Class
3          4  US-2015-108966 2015-10-11 2015-10-18  Standard Class
4          5  US-2015-108966 2015-10-11 2015-10-18  Standard Class
...      ...             ...        ...        ...             ...
9989    9990  CA-2014-110422 2014-01-21 2014-01-23    Second Class
9990    9991  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9991    9992  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9992    9993  CA-2017-121258 2017-02-26 2017-03-03  Standard Class
9993    9994  CA-2017-119914 2017-05-04 2017-05-09    Second Class

     Customer ID     Customer Name    Segment        Country             City  \
0       CG-12520       Claire Gute   Consumer  United States        Henderson
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
...          ...               ...        ...            ...              ...
9989    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
9990    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9991    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9992    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
9993    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ...       Product ID         Category Sub-Category  \
0     ...  FUR-BO-10001798        Furniture    Bookcases
1     ...  FUR-CH-10000454        Furniture       Chairs
2     ...  OFF-LA-10000240  Office Supplies       Labels
3     ...  FUR-TA-10000577        Furniture       Tables
4     ...  OFF-ST-10000760  Office Supplies      Storage
...   ...              ...              ...          ...
9989  ...  FUR-FU-10001889        Furniture  Furnishings
9990  ...  FUR-FU-10000747        Furniture  Furnishings
9991  ...  TEC-PH-10003645       Technology       Phones
9992  ...  OFF-PA-10004041  Office Supplies        Paper
9993  ...  OFF-AP-10002684  Office Supplies   Appliances

                                           Product Name     Sales Quantity  \
0                     Bush Somerset Collection Bookcase  261.9600        2
1     Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400        3
2     Self-Adhesive Address Labels for Typewriters b...   14.6200        2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775        5
4                        Eldon Fold 'N Roll Cart System   22.3680        2
...                                                 ...       ...      ...
9989                             Ultra Door Pull Handle   25.2480        3
9990  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600        2
9991                              Aastra 57i VoIP phone  258.5760        2
9992  It's Hot Message Books with Stickers, 2 3/4" x 5"   29.6000        4
9993  Acco 7-Outlet Masterpiece Power Center, Wihtou...  243.1600        2

     Discount    Profit  Profit_Margin  Margin_Level
0        0.00   41.9136         0.1600           Low
1        0.00  219.5820         0.3000        Medium
2        0.00    6.8714         0.4700        Medium
3        0.45 -383.0310        -0.4000           Low
4        0.20    2.5164         0.1125           Low
...       ...       ...            ...           ...
9989     0.20    4.1028         0.1625           Low
9990     0.00   15.6332         0.1700           Low
9991     0.20   19.3932         0.0750           Low
9992     0.00   13.3200         0.4500        Medium
9993     0.00   72.9480         0.3000        Medium

[9994 rows x 23 columns]
5.3
Segment      Category
Consumer     Technology         406399.8970
             Furniture          391049.3120
             Office Supplies    363952.1360
Corporate    Technology         246450.1190
             Office Supplies    230676.4620
             Furniture          229019.7858
Home Office  Technology         183304.0170
             Office Supplies    124418.4340
             Furniture          121930.6975
Name: Sales, dtype: float64
5.4
Year
2014    24.858994
2015    29.314274
2016    31.617771
2017    28.212340
Name: Profit, dtype: float64
5.5
                    Sales      Profit  Order ID
Sub-Category
Copiers       149528.0300  55617.8249        68
Phones        330007.0540  44515.7306       889
Accessories   167380.3180  41936.6357       775
Paper          78479.2060  34053.5693      1370
Binders       203412.7330  30221.7633      1523
Chairs        328449.1030  26590.1663       617
Storage       223843.6080  21278.8264       846
Appliances    107532.1610  18138.0054       466
Furnishings    91705.1640  13059.1436       957
Envelopes      16476.4020   6964.1767       254
Art            27118.7920   6527.7870       796
Labels         12486.3120   5546.2540       364
Machines      189238.6310   3384.7569       115
Fasteners       3024.2800    949.5182       217
Supplies       46673.5380  -1189.0995       190
Bookcases     114879.9963  -3472.5560       228
Tables        206965.5320 -17725.4811       319
5.6
Segment    Category
Consumer   Technology         70797.8096
           Office Supplies    56330.3210
Corporate  Technology         44166.9980
Name: Profit, dtype: float64

In [17]:
'''
6.0 – Conceptos necesarios (con ejemplos)
📌 1. Múltiples condiciones (&, |, ~)
⚠️ Muy importante

En pandas:
& = AND
| = OR
~ = NOT

Y cada condición debe ir entre paréntesis.

✔ Ejemplo
# Filtrar filas donde:
# - La ciudad sea "Seattle"
# - Y las ventas sean mayores a 500
df[(df["City"] == "Seattle") & (df["Sales"] > 500)]

✔ OR
df[(df["City"] == "Seattle") | (df["City"] == "Chicago")]

✔ NOT
df[~(df["Segment"] == "Consumer")]

📌 2. Crear columnas nuevas con condiciones
✔ Ejemplo simple:
df["HighSales"] = df["Sales"] > 1000


Resultado: columna con valores True / False.

✔ Ejemplo con condiciones múltiples
df["ProfitStatus"] = df["Profit"].apply(lambda x: "Ganancia" if x > 0 else "Pérdida")

📌 3. Función apply en columnas

apply permite aplicar tu propia función a cada fila o columna.

✔ Ejemplo columna
df["DiscountLevel"] = df["Discount"].apply(lambda x: "Alto" if x > 0.4 else "Normal")

✔ Ejemplo con función completa
def evaluar_fila(row):
    if row["Profit"] < 0:
        return "Malo"
    elif row["Profit"] < 50:
        return "Ok"
    else:
        return "Excelente"

df["Score"] = df.apply(evaluar_fila, axis=1)


axis=1 → la función se ejecuta por fila.'''

'\n6.0 – Conceptos necesarios (con ejemplos)\n📌 1. Múltiples condiciones (&, |, ~)\n⚠️ Muy importante\n\nEn pandas:\n& = AND\n| = OR\n~ = NOT\n\nY cada condición debe ir entre paréntesis.\n\n✔ Ejemplo\n# Filtrar filas donde:\n# - La ciudad sea "Seattle"\n# - Y las ventas sean mayores a 500\ndf[(df["City"] == "Seattle") & (df["Sales"] > 500)]\n\n✔ OR\ndf[(df["City"] == "Seattle") | (df["City"] == "Chicago")]\n\n✔ NOT\ndf[~(df["Segment"] == "Consumer")]\n\n📌 2. Crear columnas nuevas con condiciones\n✔ Ejemplo simple:\ndf["HighSales"] = df["Sales"] > 1000\n\n\nResultado: columna con valores True / False.\n\n✔ Ejemplo con condiciones múltiples\ndf["ProfitStatus"] = df["Profit"].apply(lambda x: "Ganancia" if x > 0 else "Pérdida")\n\n📌 3. Función apply en columnas\n\napply permite aplicar tu propia función a cada fila o columna.\n\n✔ Ejemplo columna\ndf["DiscountLevel"] = df["Discount"].apply(lambda x: "Alto" if x > 0.4 else "Normal")\n\n✔ Ejemplo con función completa\ndef evaluar_fila(row):\n    if row["Profit"] < 0:\n        return "Malo"\n    elif row["Profit"] < 50:\n        return "Ok"\n    else:\n        return "Excelente"\n\ndf["Score"] = df.apply(evaluar_fila, axis=1)\n\n\naxis=1 → la función se ejecuta por fila.'

In [18]:
'''
🟦 BLOQUE 6 – EJERCICIOS

6.1 — Filtra todas las filas donde:
El Segment sea Consumer
El Discount sea mayor a 0.3
Las Sales sean menores a 100

Muestra solo las primeras 10 filas.
6.2 — Filtra solo los pedidos donde:
La categoría NO sea Technology
Usa ~ (NOT).

6.3 — Filtra todas las filas donde:
La ciudad sea New York City o Los Angeles
Y el Profit sea negativo
Devuelve solo las columnas:
City, Sales, Profit

6.4 — Crea una nueva columna llamada ProfitLabel con las reglas:
Profit > 100 → "Excelente"
Profit entre 0 y 100 → "Bueno"
Profit < 0 → "Pérdida"
Usa apply.

6.5 — Crea una columna llamada Margin que sea:
Margin = Profit / Sales
Luego muestra:
El valor mínimo
El valor máximo
El promedio

6.6 — Filtra todas las filas donde:
Discount > 0.5
Y el margen (Margin) sea negativo
Muestra solo 5 filas.

6.7 — Obtén el promedio de Sales por Segment, pero solo considerando filas donde Profit < 0.
Hint: primero filtras, luego agrupas.

6.8 — Crea una función que reciba una fila y regrese:
"Alto" si Sales > 500 y Profit > 50
"Medio" si Sales > 200
"Bajo" en otro caso
Asignarla a una columna Score2.'''

#6.1
print('6.1')
print(df[(df['Segment'] == 'Consumer') & (df['Discount'] > 0.3) & (df['Sales'] < 100)])

#6.2
print('6.2')
print(df[(~ (df['Category'] == 'Technology'))].head(10))

#6.3
print('6.3')
df_6_3 = df[((df['City'] == 'Los Angeles') | (df['City'] == 'New York City')) & (df['Profit'] < 0)]
print(df_6_3[['City', 'Sales', 'Profit']])

#6.4
print('6.4')

def profit_lbl(profit):
    if profit > 100:
        return "Excelente"
    elif profit > 0 and profit < 100:
        return "Bueno"
    elif profit < 0:
        return "Pérdida"
    else:
        return "Neutro"
    
df['Profit_Label'] = df['Profit'].apply(profit_lbl)
print(df.head(5))

#6.5
print('6.5')
df['Margin'] = df['Profit'] / df['Sales']
print(f"Min:{df['Margin'].nsmallest(1)}")
print(f"Max:{df['Margin'].nlargest(1)}")
print(f"AVG:{df['Margin'].mean()}")

#6.6
print('6.6')
print(df[(df['Discount'] > 0.5) & (df['Margin'] < 0)].head(5))

#6.7
print('6.7')
df_6_7 = df[df['Profit'] < 0]
print(df_6_7.groupby('Segment')['Sales'].mean())

#6.8
print('6.8')
def Score2(row):
    if row['Sales'] > 500 and row['Profit'] > 50:
        return "Alto"
    elif row['Sales'] > 200:
        return "Medio"
    else:
        return "Bajo"

df["Score2"] = df.apply(Score2, axis=1)
print(df.head(10))

6.1
      Row ID        Order ID Order Date  Ship Date       Ship Mode  \
28        29  US-2015-150630 2015-09-17 2015-09-21  Standard Class
32        33  US-2015-150630 2015-09-17 2015-09-21  Standard Class
78        79  US-2014-147606 2014-11-26 2014-12-01    Second Class
105      106  US-2015-156867 2015-11-13 2015-11-17  Standard Class
126      127  US-2017-107272 2017-11-05 2017-11-12  Standard Class
...      ...             ...        ...        ...             ...
9831    9832  CA-2014-113257 2014-12-16 2014-12-18    Second Class
9834    9835  CA-2016-126627 2016-10-10 2016-10-12     First Class
9835    9836  CA-2016-126627 2016-10-10 2016-10-12     First Class
9844    9845  CA-2014-163867 2014-06-03 2014-06-06     First Class
9903    9904  CA-2014-122609 2014-11-12 2014-11-18  Standard Class

     Customer ID     Customer Name   Segment        Country          City  \
28      TB-21520   Tracy Blumstein  Consumer  United States  Philadelphia
32      TB-21520   Tracy Blumstein  Consumer  United States  Philadelphia
78      JE-15745        Joel Eaton  Consumer  United States       Houston
105     LC-16870     Lena Cacioppo  Consumer  United States        Aurora
126     TS-21610      Troy Staebel  Consumer  United States       Phoenix
...          ...               ...       ...            ...           ...
9831    SC-20305  Sean Christensen  Consumer  United States      Beaumont
9834    WB-21850     William Brown  Consumer  United States      La Porte
9835    WB-21850     William Brown  Consumer  United States      La Porte
9844    RE-19450  Richard Eichhorn  Consumer  United States       Decatur
9903    DP-13000     Darren Powers  Consumer  United States    Carrollton

      ...         Category  Sub-Category  \
28    ...  Office Supplies       Binders
32    ...  Office Supplies       Binders
78    ...        Furniture   Furnishings
105   ...  Office Supplies       Binders
126   ...  Office Supplies       Binders
...   ...              ...           ...
9831  ...        Furniture   Furnishings
9834  ...        Furniture   Furnishings
9835  ...  Office Supplies       Binders
9844  ...        Furniture   Furnishings
9903  ...        Furniture   Furnishings

                                           Product Name   Sales Quantity  \
28    Avery Recycled Flexi-View Covers for Binding S...   9.618        2
32    Acco Pressboard Covers with Storage Hooks, 14 ...   6.858        6
78    Eldon Expressions Desk Accessory, Wood Pencil ...  19.300        5
105   Avery Trapezoid Ring Binder, 3" Capacity, Blac...  36.882        3
126         Avery Durable Slant Ring Binders, No Labels   2.388        2
...                                                 ...     ...      ...
9831                       Longer-Life Soft White Bulbs   8.624        7
9834     Eldon 400 Class Desk Accessories, Black Carbon  14.000        4
9835  Wilson Jones Ledger-Size, Piano-Hinge Binder, ...  16.392        2
9844                         Contract Clock, 14", Brown  61.544        7
9903  GE General Use Halogen Bulbs, 100 Watts, 1 Bul...  25.128        3

     Discount   Profit  Profit_Margin  Margin_Level  Year
28        0.7  -7.0532      -0.733333           Low  2015
32        0.7  -5.7150      -0.833333           Low  2015
78        0.6 -14.4750      -0.750000           Low  2014
105       0.7 -25.8174      -0.700000           Low  2015
126       0.7  -1.8308      -0.766667           Low  2017
...       ...      ...            ...           ...   ...
9831      0.6  -2.5872      -0.300000           Low  2014
9834      0.6  -6.3000      -0.450000           Low  2016
9835      0.8 -26.2272      -1.600000           Low  2016
9844      0.6 -40.0036      -0.650000           Low  2014
9903      0.6  -6.9102      -0.275000           Low  2014

[422 rows x 24 columns]
6.2
    Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0        1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1        2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2        3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3        4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4        5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
5        6  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
6        7  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
8        9  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
9       10  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
10      11  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710

      Customer Name    Segment        Country             City  ...  \
0       Claire Gute   Consumer  United States        Henderson  ...
1       Claire Gute   Consumer  United States        Henderson  ...
2   Darrin Van Huff  Corporate  United States      Los Angeles  ...
3    Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4    Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5   Brosina Hoffman   Consumer  United States      Los Angeles  ...
6   Brosina Hoffman   Consumer  United States      Los Angeles  ...
8   Brosina Hoffman   Consumer  United States      Los Angeles  ...
9   Brosina Hoffman   Consumer  United States      Los Angeles  ...
10  Brosina Hoffman   Consumer  United States      Los Angeles  ...

           Category  Sub-Category  \
0         Furniture     Bookcases
1         Furniture        Chairs
2   Office Supplies        Labels
3         Furniture        Tables
4   Office Supplies       Storage
5         Furniture   Furnishings
6   Office Supplies           Art
8   Office Supplies       Binders
9   Office Supplies    Appliances
10        Furniture        Tables

                                         Product Name      Sales Quantity  \
0                   Bush Somerset Collection Bookcase   261.9600        2
1   Hon Deluxe Fabric Upholstered Stacking Chairs,...   731.9400        3
2   Self-Adhesive Address Labels for Typewriters b...    14.6200        2
3       Bretford CR4500 Series Slim Rectangular Table   957.5775        5
4                      Eldon Fold 'N Roll Cart System    22.3680        2
5   Eldon Expressions Wood and Plastic Desk Access...    48.8600        7
6                                          Newell 322     7.2800        4
8   DXL Angle-View Binders with Locking Rings by S...    18.5040        3
9                    Belkin F5C206VTEL 6 Outlet Surge   114.9000        5
10           Chromcraft Rectangular Conference Tables  1706.1840        9

   Discount    Profit  Profit_Margin  Margin_Level  Year
0      0.00   41.9136         0.1600           Low  2016
1      0.00  219.5820         0.3000        Medium  2016
2      0.00    6.8714         0.4700        Medium  2016
3      0.45 -383.0310        -0.4000           Low  2015
4      0.20    2.5164         0.1125           Low  2015
5      0.00   14.1694         0.2900        Medium  2014
6      0.00    1.9656         0.2700        Medium  2014
8      0.20    5.7825         0.3125        Medium  2014
9      0.00   34.4700         0.3000        Medium  2014
10     0.20   85.3092         0.0500           Low  2014

[10 rows x 24 columns]
6.3
               City     Sales    Profit
128     Los Angeles    81.424   -9.1602
354   New York City   388.704   -4.8588
485     Los Angeles   514.165  -30.2450
523     Los Angeles    55.176  -12.4146
557     Los Angeles  1335.680 -217.0480
...             ...       ...       ...
9467  New York City   166.500  -66.6000
9581  New York City   589.410   -6.5490
9583  New York City   400.784   -5.0098
9746    Los Angeles    71.088   -1.7772
9937    Los Angeles    71.088   -1.7772

[77 rows x 3 columns]
6.4
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Sub-Category                                       Product Name     Sales  \
0    Bookcases                  Bush Somerset Collection Bookcase  261.9600
1       Chairs  Hon Deluxe Fabric Upholstered Stacking Chairs,...  731.9400
2       Labels  Self-Adhesive Address Labels for Typewriters b...   14.6200
3       Tables      Bretford CR4500 Series Slim Rectangular Table  957.5775
4      Storage                     Eldon Fold 'N Roll Cart System   22.3680

  Quantity Discount    Profit Profit_Margin  Margin_Level  Year  Profit_Label
0        2     0.00   41.9136        0.1600           Low  2016         Bueno
1        3     0.00  219.5820        0.3000        Medium  2016     Excelente
2        2     0.00    6.8714        0.4700        Medium  2016         Bueno
3        5     0.45 -383.0310       -0.4000           Low  2015       Pérdida
4        2     0.20    2.5164        0.1125           Low  2015         Bueno

[5 rows x 25 columns]
6.5
Min:261   -2.75
Name: Margin, dtype: float64
Max:61    0.5
Name: Margin, dtype: float64
AVG:0.12031392972104457
6.6
    Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
14      15  US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
15      16  US-2015-118983 2015-11-22 2015-11-26  Standard Class    HP-14815
28      29  US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
32      33  US-2015-150630 2015-09-17 2015-09-21  Standard Class    TB-21520
36      37  CA-2016-117590 2016-12-08 2016-12-10     First Class    GH-14485

      Customer Name      Segment        Country          City  ...  \
14    Harold Pawlan  Home Office  United States    Fort Worth  ...
15    Harold Pawlan  Home Office  United States    Fort Worth  ...
28  Tracy Blumstein     Consumer  United States  Philadelphia  ...
32  Tracy Blumstein     Consumer  United States  Philadelphia  ...
36        Gene Hale    Corporate  United States    Richardson  ...

                                         Product Name    Sales Quantity  \
14  Holmes Replacement Filter for HEPA Air Cleaner...   68.810        5
15   Storex DuraTech Recycled Plastic Frosted Binders    2.544        3
28  Avery Recycled Flexi-View Covers for Binding S...    9.618        2
32  Acco Pressboard Covers with Storage Hooks, 14 ...    6.858        6
36  Electrix Architect's Clamp-On Swing Arm Lamp, ...  190.920        5

   Discount    Profit Profit_Margin Margin_Level  Year  Profit_Label    Margin
14      0.8 -123.8580     -1.800000          Low  2015       Pérdida -1.800000
15      0.8   -3.8160     -1.500000          Low  2015       Pérdida -1.500000
28      0.7   -7.0532     -0.733333          Low  2015       Pérdida -0.733333
32      0.7   -5.7150     -0.833333          Low  2015       Pérdida -0.833333
36      0.6 -147.9630     -0.775000          Low  2016       Pérdida -0.775000

[5 rows x 26 columns]
6.7
Segment
Consumer       246.456875
Corporate      237.159242
Home Office    287.340931
Name: Sales, dtype: float64
6.8
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
5       6  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
6       7  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
7       8  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
8       9  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
9      10  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710

     Customer Name    Segment        Country             City  ...     Sales  \
0      Claire Gute   Consumer  United States        Henderson  ...  261.9600
1      Claire Gute   Consumer  United States        Henderson  ...  731.9400
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...   14.6200
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  957.5775
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...   22.3680
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...   48.8600
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...    7.2800
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...  907.1520
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...   18.5040
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...  114.9000

   Quantity Discount    Profit Profit_Margin Margin_Level  Year  Profit_Label  \
0         2     0.00   41.9136        0.1600          Low  2016         Bueno
1         3     0.00  219.5820        0.3000       Medium  2016     Excelente
2         2     0.00    6.8714        0.4700       Medium  2016         Bueno
3         5     0.45 -383.0310       -0.4000          Low  2015       Pérdida
4         2     0.20    2.5164        0.1125          Low  2015         Bueno
5         7     0.00   14.1694        0.2900       Medium  2014         Bueno
6         4     0.00    1.9656        0.2700       Medium  2014         Bueno
7         6     0.20   90.7152        0.1000          Low  2014         Bueno
8         3     0.20    5.7825        0.3125       Medium  2014         Bueno
9         5     0.00   34.4700        0.3000       Medium  2014         Bueno

   Margin  Score2
0  0.1600   Medio
1  0.3000    Alto
2  0.4700    Bajo
3 -0.4000   Medio
4  0.1125    Bajo
5  0.2900    Bajo
6  0.2700    Bajo
7  0.1000    Alto
8  0.3125    Bajo
9  0.3000    Bajo

[10 rows x 27 columns]

In [ ]:
'''
BLOQUE 7 — Limpieza y Transformación Avanzada
🧩 Nuevos conceptos que vas a necesitar
1. Métodos .str para trabajar con texto
Pandas permite manipular texto usando la propiedad .str (muy similar a los métodos de strings de Python).
Ejemplos:

df['Customer Name'].str.upper()
df['City'].str.contains('York')
df['Product Name'].str.replace('Canon', 'CANON')
df['State'].str.len()

Úsalo cuando trabajas con columnas de texto y quieras transformar, buscar, reemplazar, dividir, etc.

2. Extraer partes de un string
Muy útil cuando tienes códigos como "CA-2014-123456":
df['Order ID'].str.split('-').str[0]     # 'CA'
df['Order ID'].str[:2]                   # 'CA'
df['Order ID'].str[-6:]                  # '123456'

3. Convertir columnas a fecha (datetime)
Para usar filtros por año, mes o día:
df['Order Date'] = pd.to_datetime(df['Order Date'])

Una vez convertido:

df['Order Date'].dt.year
df['Order Date'].dt.month
df['Order Date'].dt.day_name()

4. Limpiar datos faltantes
df.dropna()                 # Elimina filas con NaN
df.fillna(0)                # Rellena NaN con 0
df['Profit'].fillna(df['Profit'].mean())
'''

In [52]:
'''
Ejercicios Bloque 7 (NO doy soluciones)
7.1 – Extraer año, mes y día

Convierte la columna Order Date a formato datetime y crea 3 columnas nuevas:
Order_Year
Order_Month
Order_Day

7.2 – Filtrar órdenes hechas en diciembre de cualquier año
Usa dt.month == 12
Muestra las primeras 10 filas.

7.3 – Crear columna State_Code
Usa la columna Order ID, que tiene este formato:
CA-2016-152156
Debes extraer:
CA
y guardarlo en una nueva columna llamada State_Code usando .str.

7.4 – Detectar productos que contienen la palabra “Paper”
Filtra todas las filas donde Product Name contenga "Paper"
Tip: usa .str.contains() con case=False.

7.5 – Crear columna “Customer_FirstName”
Extrae el primer nombre de la columna "Customer Name"
(Ejemplo: "Claire Gute" → "Claire").
Usa .str.split().

7.6 – Contar cuántos clientes tienen apellido “Smith”
Tip: str.endswith('Smith')

7.7 – ¿Qué categoría tuvo más ventas en viernes?
Necesitarás:
df['Order Date'].dt.day_name()
Agrupa por Category.

7.8 – Reemplazar valores
Cambia todos los descuentos exactamente iguales a 0.2 por 0.25.
No los que sean mayores o menores, solo los 0.20 exactos.

7.9 – Limpiar valores faltantes
Crea un DataFrame nuevo df7 igual al original, pero:
Reemplaza valores faltantes en Profit con la media.
Reemplaza valores faltantes en Discount con 0.

7.10 – Crear código único de producto
Crea una columna Product_Code con este formato:
<Sub-Category>_<Quantity>_<Year>
Ejemplo:
Chairs_3_2016
Usa concatenación de strings en pandas.'''

#7.1
print('7.1')
df['Order Date'] = pd.to_datetime(df['Order Date'])
df['Order_Year'] = df['Order Date'].dt.year
df['Order_Month'] = df['Order Date'].dt.month
df['Order_Day'] = df['Order Date'].dt.day_name()
print(df.head(10))

#7.2
print('7.2')
print(df[(df['Order Date'].dt.month == 12)].head(10))

#7.3
print('7.3')
df['State Code'] = df['Order ID'].str[:2]
print(df.head(5))

#7.4
print('7.4')
df_7_4 = df[df['Product Name'].str.contains('Paper', case=False)]
print(df_7_4.head(5))

#7.5
df['Customer_FirstName'] = df['Customer Name'].str.split(" ").str[0]
print(df.head(5))

#7.6
print('7.6')
print(df['Customer Name'].str.endswith('Smith').value_counts())

#7.7
print('7.7')
top = df[df['Order_Day'] == 'Friday'].groupby('Category')['Sales'].sum().nlargest(1)
print(top)

#7.8
print('7.8')
df['Discount'].replace(0.2, 0.25)

#7.9
print('7.9')

df_7_9 = df.copy()

df_7_9['Profit'] = df_7_9['Profit'].fillna(df_7_9['Profit'].mean())
df_7_9['Discount'] = df_7_9['Discount'].fillna(0)

print(df_7_9.head(10))

#7.10
df['Product_Code'] = (
    df['Sub-Category'].astype(str)
    + "_" +
    df['Quantity'].astype(str)
    + "_" +
    df['Year'].astype(str)
)

print(df.head(5))

7.1
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
5       6  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
6       7  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
7       8  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
8       9  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
9      10  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...

  Margin_Level  Year Profit_Label  Margin Score2 Order_Year Order_Month  \
0          Low  2016        Bueno  0.1600  Medio       2016          11
1       Medium  2016    Excelente  0.3000   Alto       2016          11
2       Medium  2016        Bueno  0.4700   Bajo       2016           6
3          Low  2015      Pérdida -0.4000  Medio       2015          10
4          Low  2015        Bueno  0.1125   Bajo       2015          10
5       Medium  2014        Bueno  0.2900   Bajo       2014           6
6       Medium  2014        Bueno  0.2700   Bajo       2014           6
7          Low  2014        Bueno  0.1000   Alto       2014           6
8       Medium  2014        Bueno  0.3125   Bajo       2014           6
9       Medium  2014        Bueno  0.3000   Bajo       2014           6

   Order_Day  State Code  Customer_FirstName
0    Tuesday          CA              Claire
1    Tuesday          CA              Claire
2     Sunday          CA              Darrin
3     Sunday          US                Sean
4     Sunday          US                Sean
5     Monday          CA             Brosina
6     Monday          CA             Brosina
7     Monday          CA             Brosina
8     Monday          CA             Brosina
9     Monday          CA             Brosina

[10 rows x 32 columns]
7.2
    Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
13      14  CA-2016-161389 2016-12-05 2016-12-10  Standard Class    IM-15070
21      22  CA-2016-137330 2016-12-09 2016-12-13  Standard Class    KB-16585
22      23  CA-2016-137330 2016-12-09 2016-12-13  Standard Class    KB-16585
35      36  CA-2016-117590 2016-12-08 2016-12-10     First Class    GH-14485
36      37  CA-2016-117590 2016-12-08 2016-12-10     First Class    GH-14485
37      38  CA-2015-117415 2015-12-27 2015-12-31  Standard Class    SN-20710
38      39  CA-2015-117415 2015-12-27 2015-12-31  Standard Class    SN-20710
39      40  CA-2015-117415 2015-12-27 2015-12-31  Standard Class    SN-20710
40      41  CA-2015-117415 2015-12-27 2015-12-31  Standard Class    SN-20710
53      54  CA-2016-105816 2016-12-11 2016-12-17  Standard Class    JM-15265

     Customer Name      Segment        Country           City  ...  \
13    Irene Maddox     Consumer  United States        Seattle  ...
21       Ken Black    Corporate  United States        Fremont  ...
22       Ken Black    Corporate  United States        Fremont  ...
35       Gene Hale    Corporate  United States     Richardson  ...
36       Gene Hale    Corporate  United States     Richardson  ...
37    Steve Nguyen  Home Office  United States        Houston  ...
38    Steve Nguyen  Home Office  United States        Houston  ...
39    Steve Nguyen  Home Office  United States        Houston  ...
40    Steve Nguyen  Home Office  United States        Houston  ...
53  Janet Molinari    Corporate  United States  New York City  ...

   Margin_Level  Year Profit_Label    Margin Score2 Order_Year Order_Month  \
13       Medium  2016    Excelente  0.325000  Medio       2016          12
21       Medium  2016        Bueno  0.260000   Bajo       2016          12
22       Medium  2016        Bueno  0.260000   Bajo       2016          12
35          Low  2016    Excelente  0.112500   Alto       2016          12
36          Low  2016      Pérdida -0.775000   Bajo       2016          12
37       Medium  2015        Bueno  0.312500   Bajo       2015          12
38          Low  2015      Pérdida -0.088235  Medio       2015          12
39          Low  2015      Pérdida -0.071429  Medio       2015          12
40          Low  2015        Bueno  0.112500  Medio       2015          12
53       Medium  2016        Bueno  0.410000   Bajo       2016          12

    Order_Day  State Code  Customer_FirstName
13     Monday          CA               Irene
21     Friday          CA                 Ken
22     Friday          CA                 Ken
35   Thursday          CA                Gene
36   Thursday          CA                Gene
37     Sunday          CA               Steve
38     Sunday          CA               Steve
39     Sunday          CA               Steve
40     Sunday          CA               Steve
53     Sunday          CA               Janet

[10 rows x 32 columns]
7.3
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Margin_Level  Year Profit_Label  Margin Score2 Order_Year Order_Month  \
0          Low  2016        Bueno  0.1600  Medio       2016          11
1       Medium  2016    Excelente  0.3000   Alto       2016          11
2       Medium  2016        Bueno  0.4700   Bajo       2016           6
3          Low  2015      Pérdida -0.4000  Medio       2015          10
4          Low  2015        Bueno  0.1125   Bajo       2015          10

   Order_Day  State Code  Customer_FirstName
0    Tuesday          CA              Claire
1    Tuesday          CA              Claire
2     Sunday          CA              Darrin
3     Sunday          US                Sean
4     Sunday          US                Sean

[5 rows x 32 columns]
7.4
     Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
34       35  CA-2017-107727 2017-10-19 2017-10-23    Second Class    MA-17560
58       59  CA-2016-111682 2016-06-17 2016-06-18     First Class    TB-21055
102     103  CA-2016-129903 2016-12-01 2016-12-04    Second Class    GZ-14470
153     154  CA-2015-124919 2015-05-31 2015-06-02     First Class    SP-20650
188     189  CA-2016-157000 2016-07-16 2016-07-22  Standard Class    AM-10360

        Customer Name      Segment        Country           City  ...  \
34       Matt Abelman  Home Office  United States        Houston  ...
58    Ted Butterfield     Consumer  United States           Troy  ...
102     Gary Zandusky     Consumer  United States      Rochester  ...
153  Stephanie Phelps    Corporate  United States       San Jose  ...
188    Alice McCarthy    Corporate  United States  Grand Prairie  ...

    Margin_Level  Year Profit_Label  Margin Score2 Order_Year Order_Month  \
34        Medium  2017        Bueno  0.3375   Bajo       2017          10
58        Medium  2016        Bueno  0.4800   Bajo       2016           6
102       Medium  2016        Bueno  0.4900   Bajo       2016          12
153       Medium  2015        Bueno  0.4500   Bajo       2015           5
188       Medium  2016        Bueno  0.3125   Bajo       2016           7

     Order_Day  State Code  Customer_FirstName
34    Thursday          CA                Matt
58      Friday          CA                 Ted
102   Thursday          CA                Gary
153     Sunday          CA           Stephanie
188   Saturday          CA               Alice

[5 rows x 32 columns]
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...

  Margin_Level  Year Profit_Label  Margin Score2 Order_Year Order_Month  \
0          Low  2016        Bueno  0.1600  Medio       2016          11
1       Medium  2016    Excelente  0.3000   Alto       2016          11
2       Medium  2016        Bueno  0.4700   Bajo       2016           6
3          Low  2015      Pérdida -0.4000  Medio       2015          10
4          Low  2015        Bueno  0.1125   Bajo       2015          10

   Order_Day  State Code  Customer_FirstName
0    Tuesday          CA              Claire
1    Tuesday          CA              Claire
2     Sunday          CA              Darrin
3     Sunday          US                Sean
4     Sunday          US                Sean

[5 rows x 32 columns]
7.6
Customer Name
False    9916
True       78
Name: count, dtype: int64
7.7
Category
Technology    158041.734
Name: Sales, dtype: float64
7.8
7.9
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
5       6  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
6       7  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
7       8  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
8       9  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710
9      10  CA-2014-115812 2014-06-09 2014-06-14  Standard Class    BH-11710

     Customer Name    Segment        Country             City  ...  \
0      Claire Gute   Consumer  United States        Henderson  ...
1      Claire Gute   Consumer  United States        Henderson  ...
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...
5  Brosina Hoffman   Consumer  United States      Los Angeles  ...
6  Brosina Hoffman   Consumer  United States      Los Angeles  ...
7  Brosina Hoffman   Consumer  United States      Los Angeles  ...
8  Brosina Hoffman   Consumer  United States      Los Angeles  ...
9  Brosina Hoffman   Consumer  United States      Los Angeles  ...

  Margin_Level  Year Profit_Label  Margin Score2 Order_Year Order_Month  \
0          Low  2016        Bueno  0.1600  Medio       2016          11
1       Medium  2016    Excelente  0.3000   Alto       2016          11
2       Medium  2016        Bueno  0.4700   Bajo       2016           6
3          Low  2015      Pérdida -0.4000  Medio       2015          10
4          Low  2015        Bueno  0.1125   Bajo       2015          10
5       Medium  2014        Bueno  0.2900   Bajo       2014           6
6       Medium  2014        Bueno  0.2700   Bajo       2014           6
7          Low  2014        Bueno  0.1000   Alto       2014           6
8       Medium  2014        Bueno  0.3125   Bajo       2014           6
9       Medium  2014        Bueno  0.3000   Bajo       2014           6

   Order_Day  State Code  Customer_FirstName
0    Tuesday          CA              Claire
1    Tuesday          CA              Claire
2     Sunday          CA              Darrin
3     Sunday          US                Sean
4     Sunday          US                Sean
5     Monday          CA             Brosina
6     Monday          CA             Brosina
7     Monday          CA             Brosina
8     Monday          CA             Brosina
9     Monday          CA             Brosina

[10 rows x 32 columns]
   Row ID        Order ID Order Date  Ship Date       Ship Mode Customer ID  \
0       1  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
1       2  CA-2016-152156 2016-11-08 2016-11-11    Second Class    CG-12520
2       3  CA-2016-138688 2016-06-12 2016-06-16    Second Class    DV-13045
3       4  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335
4       5  US-2015-108966 2015-10-11 2015-10-18  Standard Class    SO-20335

     Customer Name    Segment        Country             City  ...  Year  \
0      Claire Gute   Consumer  United States        Henderson  ...  2016
1      Claire Gute   Consumer  United States        Henderson  ...  2016
2  Darrin Van Huff  Corporate  United States      Los Angeles  ...  2016
3   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  2015
4   Sean O'Donnell   Consumer  United States  Fort Lauderdale  ...  2015

   Profit_Label  Margin Score2 Order_Year Order_Month Order_Day  State Code  \
0         Bueno  0.1600  Medio       2016          11   Tuesday          CA
1     Excelente  0.3000   Alto       2016          11   Tuesday          CA
2         Bueno  0.4700   Bajo       2016           6    Sunday          CA
3       Pérdida -0.4000  Medio       2015          10    Sunday          US
4         Bueno  0.1125   Bajo       2015          10    Sunday          US

   Customer_FirstName      Product_Code
0              Claire  Bookcases_2_2016
1              Claire     Chairs_3_2016
2              Darrin     Labels_2_2016
3                Sean     Tables_5_2015
4                Sean    Storage_2_2015

[5 rows x 33 columns]